.cabecera{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #395E66;
    padding: 10px 0 10px 0;
    z-index: 999;
    color: #fff;
    position: relative;
}
.titulo{
    /*color: #fff;*/
}
.inputs-container{
    display: flex;
    justify-content: center;
}
.input-busqueda{
    margin: 1rem auto;
    width: 30%;
    height: 30px;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, .3);
    outline: none;
    padding: 0 35px 0 20px;
    text-align: center;
}
@media screen and (max-width: 740px){
    .input-busqueda{
        width: 70%;
    }
}
.menu-lateral{
    position: absolute;
    top: 2.5rem;
    left: -200px;
    display: flex;
    cursor: pointer;
    background-color: #395E66; 
    z-index: 888;
    transition: all 0.5s ease;
    border-bottom-right-radius: 5px;
}
.menu-lateral__selected{
    left: 0;
    transition: all 0.5s ease;
}
.icono-menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
}
.menu-content{
    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
}
.icono-menu__opcion{
    width: 1rem;
    margin: 0 0.5rem;
}
.menu-lista{
    text-decoration: none;
}
.meni-lista__elemento{
    margin: 0.5rem;
    display: flex;
    align-items: center;
}
.elemento-enlace{
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
}