.cabecera{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #395E66;
    padding: 10px 0 10px 0;
    color: #fff;
    position: relative;
    z-index: 900;
    transition: all 0.6s ease;
}
.titulo{
    /*color: #fff;*/
}
.inputs-container{
    display: flex;
    justify-content: center;
}
.input-busqueda{
    margin: 1rem auto;
    width: 30%;
    height: 30px;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, .3);
    outline: none;
    padding: 0 35px 0 20px;
    text-align: center;
}
@media screen and (max-width: 740px){
    .input-busqueda{
        width: 70%;
    }
}
.menu-lateral{
    position: absolute;
    top: 0;
    left: -50vw;
    height: 100vh;
    display: flex;
    background-color: #395E66; 
    z-index: 888;
    transition: all 0.5s ease;
}
.menu-lateral__selected{
    left: 0;
}
.icono-menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    margin-left: 0.5rem;
    margin-top: 0.7rem;
    cursor: pointer;
    z-index: 999;
    transition: all 0.5s ease;
}
.icono-menu__selected{
    position: fixed;
}
.icono-menu:hover{
     transform: scale(1.1);
}
.menu-content{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.icono-menu__opcion{
    width: 0.5rem;
    margin: 0 0.5rem;
}
.menu-lista{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    text-decoration: none;
}
.meni-lista__elemento{
    background-image: url('../media/iconos/anadir.svg');
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 2rem;
    margin: 0 1rem 1rem 1rem;
    height: 1em;
}
.elemento-enlace{
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
}
.prueba-menu{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #395e66bd;
    width: 0;
    height: 100vh;
    z-index: 900;
}
.prueba-menu__selected{
    width: 100vw;
}