.footer{
    min-height: 10vh;
    background-color: #312F2F;
    text-align: left;
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}