.footer{
    width: 100%;
   /*  position: absolute;
    bottom: 0;
    left: 0; */
    min-height: 10vh;
    /*background-color: #312F2F;*/
    background-color: #395E66;
    text-align: left;
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}