.tarjetas-jugador{
    margin: 10px auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-jugador{
    margin: 10px;
}
.jugador{
    width: 200px;
    height: 250px;
    position: relative;
    transform-style: preserve-3d;
    transition: .7s ease;
    box-shadow: 0 10px 15px -5px rgba(0, 82, 0, 0.50);
    border-radius: 10px;
}
.adelante, .atras, .imagen-jugador{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}
.adelante{
    opacity: 0.9;
}
.atras{
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-family: "open sans";
}
.container-jugador:hover .jugador{
    transform: rotateY(180deg);
    padding: 15px;
}
.imagen-jugador{
    border-radius: 10px;
}
.nombre-jugador{
    margin: 0 auto;
    top: 80%;
    width: 10rem;
    font-size: 18px;
    position: relative;
    text-align: center;
    border-radius: 3px;
    background: #fff;
}
.escudo-jugador{
    position: absolute;
    width: 2rem;
    top: 10px;
    left: 10px;
}
.nombre__jugador--deportivoalaves{
    color: rgb(4, 0, 255);
    background: rgb(4, 0, 255);
}
.nombre__jugador--athleticclub{
    color: #f00;
    background: #ff0000;
}

.jugador-card{
    width: 100%;
    border-radius: 10px;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.50);
}
.img-card{
    margin: 0 auto;
    border-radius: 50%;
    width: 30%;
}
.cuerpo-card{
    width: 70%;
}
.img-card-jugador{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px 0 0 10px;
}
.jugador-info{
    color: #fff;
    background-color: red;
    width: 50px;
    height: 20px;
    padding: 1px;
    text-align: center;
    border-radius: 5px;
    margin: 0 2px;
}
.edicion-info{
    display: flex;
    justify-content: center;
}