.ver-listado{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5em;
    max-height: 30em;
    overflow-y: auto;
}
.table-container__visible{
    width: 100%;
    max-width: 21em;
    display: inline-block;
    transition: all 0.3 ease;
}
.table-container__oculta{
    display: none;
    transition: all 0.3 ease;
}
.btn-lista{
    /* background-color: lightblue;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    border: none;
    transition: all 0.5s ease; */
}
.btn-lista:hover{
/*     transform: scale(1.1);
    cursor: pointer; */
}
.tabla-jugadores{
    width: 100%;
}
.cabecera-jugadores{
    text-align: center;
}
.fila-jugadores{
    
}