.menu-equipos{
    margin: 5px auto;
    display: flex;
    align-items: center;
    list-style: none;
    width: 80%;
    height: 5rem;
    overflow-y: hidden;
    white-space: nowrap;
}
.menu-equipos::-webkit-scrollbar{
    display: none;
}
.menu-equipos:hover{
    cursor: pointer;
}
.icono-menu-equipo{
    margin: 0 0.5rem;
    width: 4em;
    /* height: 4rem; */
    padding: 0.2rem;
    filter: grayscale(1);
    transition: all 0.3s ease;
}
.icono-menu-equipo:hover{
    transform: scale(1.2);
    filter: grayscale(0);
}
.icono-menu-equipo__selected{
    transform: scale(1.2);
    filter: grayscale(0);
}

@media screen and (min-width: 300px) and (max-width:768px){
    .menu-equipos{
        width: 100%;
    }
}