.menu-equipos{
    margin: 0 auto;
    padding-top: 10px;
    width: 80%;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.menu-equipos::-webkit-scrollbar{
    display: none;
}
.menu-equipos:hover{
    cursor: pointer;
}
.icono-menu-equipo{
    margin: 0 0.5rem;
    width: 4rem;
    height: 4rem;
}