.menu-equipos{
    margin: 5px auto;
    padding-top: 15px;
    width: 80%;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
.menu-equipos::-webkit-scrollbar{
    display: none;
}
.icono-menu-equipo{
    margin: 0 0.5rem;
    width: 5rem;
    height: 5rem;
}
.select-equipos{
    display: flex;
    justify-content: center;
    align-items: center;
}