
.jugador-card{
    width: 100%;
    height: 100px;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 20px -5px rgba(255, 255, 255, 0.50);
    border-radius: 5px;
    background-color: #212525;
    color: #fff;
    transition: all 0.30s ease-out;
}
.img-card{
    margin: 0 auto;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-card-jugador{
    height: 90px;
    width: 90px;
    padding: 2px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgb(255,255,255);
}
.cuerpo-card{
    width: 70%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.contenedor-tarjeta{
    background-color: #fff;
    width: 90%;
    border-radius: 5px;
    margin: 0 auto;
}
.jugador-card:hover{
    transform: translate3d(3px, -3px, 0);
    box-shadow: -5px 3px 13px 5px rgb(255,255,255);
    background-color: #070C0D;
}
