
.content{
    background-image: url(../media/campo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: top;
    margin: 0 auto;
    width: 100%;
    overflow-y: auto;
}
.jugadores{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor-tarjeta{
    margin: 0 1rem
}
.img-card-jugador{
    width: 4rem;
    height: 4rem;
    padding: 2px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgb(255,255,255);
    transition: all 0.2s ease-out;
}
.img-card-jugador:hover{
    transform: translate3d(3px, -3px, 0);
    box-shadow: -5px 3px 13px 5px rgb(255,255,255);
    cursor: pointer;
}

@media screen and (min-width: 300px) and (max-width:768px){
   
}
@media screen and (min-width: 768px) and (max-width:1024px){
    .content{
        width: 70%;
    }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape){
    .container{
        /* transform: rotate(90deg); */
        color: blue;
    }
}